<% provide(:title, "収支確認") %>
<% if params[:year].present? %>
  <h1>収支確認</h1>
  <%= form_with(url: check_path(params[:format]), method: :GET) do |f| %>
    <%= f.number_field :year, value: params[:year], class: 'form-control' %>年の収支
    <%= f.submit "表示", class: "btn btn-primary" %>
  <% end %>

  収入 : <%= @income_amounts.sum(:amount) %>円<br>
  支出 : <%= @expenditure_amounts.sum(:amount) %>円<br>
  収入 ー 支出 : <%= i_e = @income_amounts.sum(:amount) - @expenditure_amounts.sum(:amount) %>円<br><br>

  <h2>前の年との「収入 ー 支出」の比較</h2>

  <% if ( com = i_e - (@pre_i - @pre_e) ) >= 0 %>
    +<%= com %>
  <% else %>
    <%= com %>
  <% end %>円<br>

  <h2>「収入 ー 支出」の推移</h2>
  <%= line_chart @in_and_ex_data_years, donut: true, xtitle: "年", ytitle: "「収入 ー 支出」(円)" %>

  <h2>月ごとの収支を表示</h2>
  <%= form_with(url: check_path(params[:format]), method: :GET) do |f| %>
    <%= f.date_select :date, discard_day: true, default: {year: params[:year]}, class: 'form-control' %>月の収支を
    <%= f.submit "表示", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <h1>収支確認</h1>
  <%= form_with(url: check_path(params[:format]), method: :GET) do |f| %>
    <% if params["date(2i)"].present? %>
      <%= f.date_select :date, discard_day: true, default: {year: params["date(1i)"], month: params["date(2i)"]}, class: 'form-control' %>
    <% else %>
      <%= f.date_select :date, discard_day: true, class: 'form-control' %>
    <% end %>月の収支
    <%= f.submit "表示", class: "btn btn-primary" %>
  <% end %>

  収入 : <%= @income_amounts.sum(:amount) %>円<br>
  支出 : <%= @expenditure_amounts.sum(:amount) %>円<br>
  収入 ー 支出 : <%= i_e = @income_amounts.sum(:amount) - @expenditure_amounts.sum(:amount) %>円<br><br>

  <h2>前の月との「収入 ー 支出」の比較</h2>

  <% if ( com = i_e - (@pre_i - @pre_e) ) >= 0 %>
    +<%= com %>
  <% else %>
    <%= com %>
  <% end %>円<br>

  <h2>「収入 ー 支出」の推移</h2>
  <%= line_chart @in_and_ex_data_months, donut: true, xtitle: "月", ytitle: "「収入 ー 支出」(円)" %>

  <h2>年ごとの収支を表示</h2>
  <%= form_with(url: check_path(params[:format]), method: :GET) do |f| %>
    <%= f.number_field :year, value: Date.today.year, class: 'form-control' %>年の収支を
    <%= f.submit "表示", class: "btn btn-primary" %>
  <% end %>
<% end %>

<%= link_to "収入確認", income_sum_path, class: "btn" %>
<%= link_to "支出確認", expenditure_sum_path, class: "btn" %>
