<% provide(:title, "年の収入の合計") %>

<%= form_with(url: income_sum_year_path(params[:format]), method: :GET) do |f| %>
  <%= f.date_select :date, discard_day: true, discard_month: true, default: {year: params["date(1i)"]}, class: 'form-control' %>
  の収入を
  <%= f.submit "表示", class: "btn btn-primary" %>
<% end %>

<h1>
  <%= params["date(1i)"] %>年の収入
</h1>

<%= pie_chart @income_data, donut: true, xtitle: "Category", ytitle: "Total Income" %>

合計 : <%= @income_amounts.sum(:amount) %>円<br>

<% if current_user.incomes.order(:name).present? %>
  <% current_user.incomes.order(:name).each do |i| %>
    <%= link_to i.name, income_amount_path(i) %> :
    <%= @income_amounts.where(income_id: i.id).sum(:amount) %>円<br>
  <% end %>
<% end %><br>

<h2>前の年との比較</h2>

<% if
  ( com = @income_amounts.sum(:amount) - current_user.income_amounts.where(
                                          date: Time.new(params["date(1i)"], params["date(2i)"], params["date(3i)"]).years_ago(1).all_year
                                          ).sum(:amount) ) >= 0 %>
  +<%= com %>
<% else %>
  <%= com %>
<% end %>円<br>

<h2>月ごとの収入を表示</h2>

<%= form_with(url: income_sum_path(params[:format]), method: :GET) do |f| %>
  <%= f.label :year, "年月を入力" %>
  <%= f.number_field :year, value: params["date(1i)"], class: 'form-control' %>年
  <%= f.date_select :date, discard_day: true, discard_year: true, default: {year: params["date(1i)"], month: params["date(2i)"]}, class: 'form-control' %>
  の収入を
  <%= f.submit "表示", class: "btn btn-primary" %>
<% end %><br>

<%= link_to "収支確認", check_path, class: "btn" %>

