<% provide(:title, '支出科目の金額の編集') %>
<h1>支出の金額の編集</h1>
<%= form_with(model: @expenditure_amount, url: expenditure_expenditure_amount_path(params[:expenditure_id], @expenditure_amount), method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :expenditure_id, class: 'form-control' %>

  <%= f.label :date, "日付" %>
  <%= f.date_select :date, class: 'form-control' %>

  <%= f.label :amount, "金額" %>
  <%= f.number_field :amount, min: 0, max: 2000000000, class: 'form-control' %>円

  <%= f.submit "変更を保存する", class: "btn btn-primary" %>
<% end %>
