<% provide(:title, "支出科目の金額") %>
<h1>
  <% if params["date(1i)"].present? %>
    <%= params["date(1i)"] %>年<%= params["date(2i)"] %>月
  <% else %>
    今月
  <% end %>
  の<%= Expenditure.find(params[:format]).name%>の金額一覧
</h1>
<%= form_with(url: expenditure_amount_path(params[:format]), method: :GET) do |f|%>
  <%= f.label :date, "年月" %>
  <%= f.date_select :date, discard_day: true, class: 'form-control' %>
  <%= f.submit "表示", class: "btn btn-primary" %>
<% end %>
<% if @expenditure_amounts.present? %>
  <% @expenditure_amounts.each do |ea| %>
    <%= ea.date.strftime('%Y年%m月%d日') %>
    <%= ea.amount %>円
    <%= link_to "編集", edit_expenditure_amount_path(ea) %>
    <%= link_to "削除", "expenditure_amounts/#{ea.id}", data: {"turbo-method": :delete,
                                  turbo_confirm: "本当に削除してよろしいですか？"} %><br>
  <% end %>
<% end %><br>
<%= link_to "金額を追加", expenditure_amount_register_path(params[:format]) %>
