<% provide(:title, '収入科目の金額の編集') %>
<h1>収入の金額の編集</h1>
<%= form_with(model: @income_amount, url: "/income_amounts/#{@income_amount.id}", method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :income_id, class: 'form-control' %>

  <%= f.label :date, "日付" %>
  <%= f.date_select :date, class: 'form-control' %>

  <%= f.label :amount, "金額" %>
  <%= f.number_field :amount, min: 0, max: 1000000000000, class: 'form-control' %>円

  <%= f.submit "変更を保存する", class: "btn btn-primary" %>
<% end %>
