<% provide(:title, '金額の追加') %>
<h1>金額の追加</h1>
<%= form_with(model: @income_amount, url: income_income_amounts_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :income_id, class: 'form-control', value: params[:income_id] %>

  <%= f.label :date, "日付" %>
  <%= f.date_select :date, class: 'form-control' %>

  <%= f.label :amount, "金額" %>
  <%= f.number_field :amount, min: 0, max: 2000000000, class: 'form-control' %>円

  <%= f.submit "登録", class: "btn btn-primary" %>
<% end %>
